.button
  padding: 13px 20px
  border: none
  border-radius: 2px
  text-transform: uppercase
  font-family: Futura Demi
  font-weight: 500
  font-size: 0.93rem
  line-height: 15px
  &:hover
    cursor: pointer
  &--primary
    background-color: $primary
    color: $light
    box-shadow: 0 5px 15px rgba($primary, 0.2)
    transition: box-shadow 0.4s
    &:hover
      box-shadow: none
      
  &--outline
    border: 1px solid #FFFFFF
    color: $light
    background: transparent

.label
  &--light
    color: rgba(255, 255, 255, 0.5)
    font-size: 1.07rem
.input
  background-color: transparent
  border: none
  font-size: 1.285rem
  padding: 0.5rem 0
  &--light
    border-bottom: 1px solid rgba(255, 255, 255, 0.15)
    color: $light
    &::placeholder
      color: $light
  &--dark
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    color: $dark
    &::placeholder
      color: $dark
.policy
  &__checkbox
    opacity: 0
    visibility: hidden
    &:checked +
      .policy__label
        &::before
          background: $primary url('../img/check.svg') center no-repeat / 0.9rem               
  &__label
    display: flex
    align-items: center
    &::before
      content: ''
      width: 18px
      height: 18px
      border: 1px solid $primary
      border-radius: 2px
      margin-right: 0.64rem

.card

  &__text
    position: relative
    margin: 0 auto
    margin-top: -9.3rem
    background-color: #fff
    padding: 1.8rem 2.14rem
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
    max-width: 20.6rem
  &__title
     font-family: 'Yeseva One', cursive
     font-style: normal
     font-weight: normal
     font-size: 1.29rem
     margin-top: 0
     margin-bottom: 0.7rem
  &__list
    padding: 0 0 0 1.2rem
    margin: 0
    font-size: 1.07rem
    line-height: 1.79rem
    color: $secondary
    margin-bottom: 2.5rem
  &__pricetag
    position: absolute
    left: 0
    bottom: -1.8rem
    font-size: 1.29rem
    font-family: 'Yeseva One', cursive
    text-transform: uppercase
    background-color: $primary
    color: $light
    padding: 1.214rem 2.6rem
    box-shadow: 0 5px 15px rgba($primary, 0.2)
    transition: box-shadow 0.4s




