.button
  padding: 13px 20px
  border: none
  border-radius: 2px
  text-transform: uppercase
  font-family: Futura Demi
  font-weight: 500
  font-size: 0.93rem
  line-height: 15px
  &:hover
    cursor: pointer
  &--primary
    background-color: $primary
    color: $light
    box-shadow: 0 5px 15px rgba($primary, 0.2)
    transition: box-shadow 0.4s
    &:hover
      box-shadow: none
      
  &--outline
    border: 1px solid #FFFFFF
    color: $light
    background: transparent

.label
  &--light
    color: rgba(255, 255, 255, 0.5)
    font-size: 1.07rem
.input
  background-color: transparent
  border: none
  font-size: 1.285rem
  padding: 0.5rem 0
  &--light
    border-bottom: 1px solid rgba(255, 255, 255, 0.15)
    color: $light
    &::placeholder
      color: $light
  &--dark
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    color: $dark
    &::placeholder
      color: $dark
.policy
  &__checkbox
    opacity: 0
    visibility: hidden
    &:checked +
      .policy__label
        &::before
          background: $primary url('../img/check.svg') center no-repeat / 0.9rem               
  &__label
    display: flex
    align-items: center
    &::before
      content: ''
      width: 18px
      height: 18px
      border: 1px solid $primary
      border-radius: 2px
      margin-right: 0.64rem
      


