@media screen and (max-width: 1200px)
  html
    font-size: 12px
  .nav
  &__link
    margin-right: 1rem

@media screen and (max-width: 992px)
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and (max-width: 570px)
  .container
   width: 100%
   padding-left: 18px
   padding-right: 18px
  .contacts
    &__button   
      display: none
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
  .title
    font-size: 1.92rem
  .hero
    padding-top: 85px
    &__content    
      margin: 0 
      max-width: 28.17rem
    &__text
      font-size: 1.5rem
    &__button
      display: block
      min-width: 100%
      margin-bottom: 2.17rem
    &__scroll-down
      display: none
@media screen and ( max-height: 550px )
  .hero
    &__scroll-down
      display: none
  

