*, *:before, *:after
  box-sizing: border-box
html
  font-size: 14px
body 
  font-family: 'Futura Book', sans-serif

  font-size: 1rem
img
  max-width: 100%
.section
  padding: 60px 50px
  &--dark
    background-color: $dark
    color: $light
  &-footer
    margin-top: 3.785rem
    text-align: center
    &__description      
      margin:  auto
      margin-top: 1.64rem
      font-size: 1.428rem
      line-height: 135%
      max-width: 40.6rem
      &::before
        content: ''
        display: block
        width: 55px
        height: 2px
        margin: auto
        margin-bottom: 1.1rem
        background-color: $primary 
  &-title
    text-align: center
    &--light
      color: $light
    &--left
      text-align: left
    &__heading
      font-family: 'Yeseva One', cursive
      font-style: normal
      font-weight: normal
      text-transform: uppercase
      line-height: 138%
      &--projects
        font-size: 1.93rem
      &--primary
        color: $primary
    &__word
      display: flex
      align-items: center      
      &::after
        content: ''
        width: 90px
        height: 1px
        background-color: $primary
        margin-left: 2rem
    &__text
      font-size: 1.28rem
      line-height: 2.07rem
      max-width: 31.57rem
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::before, &::after        
        content: ''
        width: 32px
        height: 2px
        background-color: $primary
        margin-left: 7px
        margin-right: 7px
    &__description
      margin:  auto
      margin-top: 1.64rem
      font-size: 1.428rem
      line-height: 135%
      max-width: 53rem
      &--team
        max-width: 32rem
      &--client
        max-width: 25rem





.round
  border-radius: 40px
.price-icon
  margin-right: 15px
        

