.client
  padding-bottom: 200px
  &__section-title
    margin-bottom: 38px
  &-card
    max-width: 376px
    &__group
      max-width: 300px
      display: flex
      align-items: center
      justify-content: space-between
      margin-bottom: 12px
    &__title
      margin-left: 25px
      font-family: 'Yeseva One', cursive
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 25px
    &__text
      max-width: 324px
      font-style: normal
      font-weight: normal
      font-size: 15px
      line-height: 180%
      color: $secondary
      margin-bottom: 16px
    &__footer
      margin-left: -20px
      position: absolute
      display: flex
      align-items: center

    &__pricetag
      display: flex
      align-items: center
      justify-content: space-between
      font-size: 17px;
      font-family: 'Yeseva One', cursive
      font-style: normal;
      font-weight: normal;
      text-transform: uppercase
      background-color: $primary
      color: $light 
      margin-right: 2px    
      padding: 10px 20px 10px 14px
      box-shadow: 0 5px 15px rgba($primary, 0.2)
      transition: box-shadow 0.4s
      margin-top: 24px
    &__price-text
      display: inline-block

      
